
<%# This is the main page of the website that will be served when you connect. Instead of serving separate pages, the index.ejs can have a 
header for the navigation bar and a div below that acts as a container for the other pages. 
(e.g. when you enter localhost:3000/home, index.ejs will be loaded with home.ejs contained in the div.) %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="./stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar-top">
        <button class="navbar-link" onclick="window.location.href='/home'"><h1>BookNest</h1></button>
        <div></div>

        <button class="navbar-link" onclick="window.location.href='/catalog'"><h3>Catalog</h3></button>


        <button class="navbar-link" onclick="window.location.href='/cart'"><h3>My Cart</h3></button>


        <button class="navbar-link" onclick="window.location.href='/login'"><h3>Login/Register</h3></button>
    

        <button class="navbar-link" onclick="window.location.href='/add-book'"><h3>Add Book</h3></button>

    </nav>

    <%# render any flash messages %>
    <% if (messages.length > 0) { %>
        <div id="flash-message" class="info-message" style="height:fit-content;" role="alert">
            <% messages.forEach((msg) => { %>
                <p> <%= msg %> </p>
            <% }); %>
        </div>
        <% } %>

    <%# div content changes if user navigates pages %>
    <div id="content">
        <%- include(content) %>
    </div>

    <script>// clear flash messages after 1s
        setTimeout(() => {
            const flashMessage = document.getElementById('flash-message');

            if (flashMessage) {

                flashMessage.style.transition = "opacity 0.5s";
                flashMessage.style.opacity = 0;

                setTimeout(() => {
                    flashMessage.remove();
                }, 500);
            }
        }, 4000);
    </script>
    <!-- Footer -->
    <footer class="footer">
        <div>
            <p>&copy; 2024 BookNest. All rights reserved.</p>
            <button onclick="window.location.href = '/about'" class="option-button"><h3>About BookNest</h3></button>
            <button onclick="window.location.href = '/contact'" class="option-button"><h3>Contact Us</h3></button>
        </div>
    </footer>
</body>
</html>