<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest</title>
</head>
<body>
    <h2> Welcome to BookNest, a simple yet effective webapp for browsing your favorite books.</h2>
</body>
</html>