
<%# This is the main page of the website that will be served when you connect. Instead of serving separate pages, the index.ejs can have a 
header for the navigation bar and a div below that acts as a container for the other pages. 
(e.g. when you enter localhost:3000/home, index.ejs will be loaded with home.ejs contained in the div.) %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <%# put navigation bar here %>

    <%# div content changes if user navigates pages %>
    <div id="content">
        <%- include(content) %>
    </div>
</body>
</html>