<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="./stylesheet.css"> <!-- Link to your custom CSS file if needed -->
</head>
<body>
    <div class="container">
        <header>
            <h1>Add a New Book</h1>
        </header>
        
        <main>
            <form class="text-form" method="post" id="book-form" action="/api/add-book" enctype="multipart/form-data">
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" required>

                <label for="name">Book Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required>

                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required step="0.01">

                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required step="1">


                <label for="coverImage">Cover Image:</label>
                <input style="height:fit-content" type="file" id="coverImage" name="coverImage" accept="image/*" required>


                <button type="submit" class="option-button"><h3>Add Book</h3></button>
            </form>

            <button onclick="window.location.href='/'" class="option-button" style="justify-self:center;"><h3>Back to Home</h3></button>

        </main>
        
        <footer class="text-center mt-5">
            <p>&copy; 2024 BookNest</p>
        </footer>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
