<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>
    <header style="background-color: #f8f8f8;">

        <div class="a" style="background-color: rgb(60, 60, 60); color: lightgray;">
        <h3 style="text-align: left;"><a class="headoptions" href="#">&#x1F582 booknest@sampleemail.com</a> <span style="float: right;"> <a class="headoptions" href="#">Sign In</a> &emsp; <a class="headoptions" href="#">Cart</a> </span> </h3> 
        </div>
        <div class="b" style="background-color: #f1f1f1; color: gray;">
        <nav style="text-align: right;">
            <ul>
                <li class="imageoverlap" style="float: left;">
                    <img class="bottomimage" src="./uploads/booknest_logo.jpg" alt="BookNest" />
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Categories</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Action</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Comic Books</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Superhero</a></li>
                        <li><a href="#">Webcomics</a></li>
                    </ul>
                </li>
                <li><a href="#" style="font-weight: bold"><b>Fiction</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Science-Fiction</a></li>
                        <li><a href="#">Romance</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Non-Fiction</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Cookbooks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Children</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Education</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <form style="float: right;">
                        <input style="float: right;" class="rightAligned" size="35" type="search" id="searchbar" placeholder="What can we help you find?">
                        </form>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="c" style="background-color: #f1f1f1; color: gray;">
            <text class="textfonts">Booknest</text>
        </div>
    
    </div>
        </header>
        <div>
            <h4>Flash Sale! Get 50% off select books!</h4>
        </div>
        <section>
        <div class="slider">
        <div class="list">
            <div class="item">
                <a href="#"><img src="./uploads/harry_potter_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="./uploads/hunger_games_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="./uploads/the_amazing_spider_man_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="./uploads/spider_man_miles_morales_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="./uploads/sonic_the_hedgehog_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="./uploads/avatar_the_last_airbender_bc.jpg" alt=""></a>
            </div>        
    </div>
    
    <div class="buttons">
        <button id="prev"></button>
        <button id="next">></button>
    </div>
    
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </section>

    <h1>Latest Additions</h1>
    <div class="image-container">
        <!-- Book 1 -->
        <div class="news-item">
            <img class="ss" src="https://m.media-amazon.com/images/I/71-++hbbERL._AC_UF1000,1000_QL80_.jpg" alt="Starling House by Alix E. Harrow"/>
            <p class="date">20th Oct 2024</p>
            <h2 class="title">Announcing Harry Potter and the Sorcerer's Stone by J.K Rowling</h2>
            <p class="summary">We're thrilled to announce Harry Potter and the Sorcerer's Stone, the first novel in J.K. Rowling's iconic series, where readers are introduced to the magical world of Hogwarts. Follow young Harry as he discovers his true heritage, makes lifelong friends, and faces the dark wizard Voldemort. Each adventure is a unique blend of mystery, magic, and friendship, setting the stage for a journey like no other.</p>
        </div>

        <!-- Book 2 -->
        <div class="news-item">
            <img class="f51" src="https://m.media-amazon.com/images/I/61l8LHt4MeL._AC_UF1000,1000_QL80_.jpg" alt="Other People's Playgrounds by Harry Turtledove"/>
            <p class="date">20th Oct 2024</p>
            <h2 class="title">Fahrenheit 451 by Ray Bradbury</h2>
            <p class="summary">Ray Bradbury's Fahrenheit 451, in which the acclaimed author explores a dystopian future where books are banned and "firemen" burn them to control knowledge, is a powerful tale about censorship and freedom. Follow protagonist Guy Montag as he begins to question society’s rules and discovers the profound impact of books, risking everything in his journey toward enlightenment and resistance.</p>
        </div>

        <!-- Book 3 -->
        <div class="news-item">
            <img class="cf" src="https://m.media-amazon.com/images/I/71e9wjuvcJL._AC_UF1000,1000_QL80_.jpg" alt="Crows and Silences by Lucius Shepard"/>
            <p class="date">13th Oct 2024</p>
            <h2 class="title">Announcing Catching Fire: The second book of The Hunger Games by Suzanne Collins</h2>
            <p class="summary">We're thrilled to announce Catching Fire, the second novel in The Hunger Games series by Suzanne Collins, where each chapter delivers a unique blend of suspense, rebellion, and survival. Follow Katniss Everdeen as she returns to the deadly arena and faces new dangers in a world on the brink of revolution. This gripping sequel explores the cost of defiance and the strength needed to ignite change.</p>
        </div>
                <!-- Book 4 -->
                <div class="news-item">
                    <img class="gv" src="https://m.media-amazon.com/images/I/71un2hI4mcL.jpg" alt="The Great Gatsby by F. Scott Fitzgerald"/>
                    <p class="date">5th Nov 2024</p>
                    <h2 class="title">The Hunger Games by Suzanne Collins</h2>
                    <p class="summary" > We’re excited to introduce The Hunger Games, the first novel in Suzanne Collins’s groundbreaking series, where readers enter a dystopian world filled with tension, sacrifice, and survival. Follow Katniss Everdeen as she volunteers to take her sister’s place in the brutal Hunger Games, a deadly event broadcasted for all to see. This captivating story reveals the resilience needed to survive in an unforgiving arena and the strength required to challenge a world controlled by fear and power.</p>
                </div>
        
                <!-- Book 5 -->
                <div class="news-item">
                    <img class="hdm" src="https://m.media-amazon.com/images/I/91fdrCnL9wL._AC_UF1000,1000_QL80_.jpg" alt="To Kill a Mockingbird by Harper Lee"/>
                    <p class="date">1st Dec 2024</p>
                    <h2 class="title">To Kill a Kingdom by Alexandra Christo</h2>
                    <p class="summary">We’re thrilled to announce To Kill a Kingdom, a dark and thrilling fantasy novel by Alexandra Christo, where the deadly siren Lira and the vengeful prince Elian are drawn together in a world of betrayal and magic. Follow Lira as she’s forced to hunt human hearts on land and Elian as he seeks to end her reign of terror, setting the stage for an epic struggle between sea and shore. This captivating tale weaves together fierce loyalty, forbidden romance, and the dangerous quest for redemption.</p>
                </div>
        
                <!-- Book 6 -->
                <div class="news-item">
                    <img class="hob" src="https://m.media-amazon.com/images/I/81QuEGw8VPL._AC_UF1000,1000_QL80_.jpg" alt="The Hobbit by J.R.R. Tolkien"/>
                    <p class="date">15th Dec 2024</p>
                    <h2 class="title">The Great Gatsby by F. Scott Fitzgerald</h2>
                    <p class="summary">We’re delighted to present The Great Gatsby, F. Scott Fitzgerald’s timeless tale of love, ambition, and the American Dream. Set against the glamour and decadence of the Roaring Twenties, this novel follows Jay Gatsby, a mysterious millionaire, and his unrelenting love for Daisy Buchanan. Through lavish parties and whispered secrets, Fitzgerald’s classic explores the complexities of wealth, desire, and the pursuit of happiness in a world driven by illusion and heartbreak.</p>
                </div>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="./javascript/home.js"></script>
</body>
</html> 

<%# <header>
            <h1 class="text-center">Welcome to BookNest</h1>
        </header> %>