<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
</head>
<body>
    <header style="background-color: #f8f8f8;">

        <div class="a" style="background-color: rgb(60, 60, 60); color: lightgray;">
        <h3 style="text-align: left;"><a class="headoptions" href="#">&#x1F582 booknest@sampleemail.com</a> <span style="float: right;"> <a class="headoptions" href="#">Sign In</a> &emsp; <a class="headoptions" href="#">Cart</a> </span> </h3> 
        </div>
        <div class="b" style="background-color: #f1f1f1; color: gray;">
        <nav style="text-align: right;">
            <ul>
                <li class="imageoverlap" style="float: left;">
                    <img class="topimage" src="images/stack_of_books.png" alt="" />
                    <img class="bottomimage" src="images/empty_birds_nest.png" alt="" />
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Categories</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Action</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Comic Books</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Superhero</a></li>
                        <li><a href="#">Webcomics</a></li>
                    </ul>
                </li>
                <li><a href="#" style="font-weight: bold"><b>Fiction</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Science-Fiction</a></li>
                        <li><a href="#">Romance</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Non-Fiction</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Cookbooks</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" style="font-weight: bold"><b>Children</b></a>
                    <ul class="dropdown">
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Education</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <form style="float: right;">
                        <input style="float: right;" class="rightAligned" size="35" type="search" id="searchbar" placeholder="What can we help you find?">
                        </form>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="c" style="background-color: #f1f1f1; color: gray;">
            <text class="textfonts">Booknest</text>
        </div>
    
    </div>
        </header>
        <div>
            <h4>Flash Sale! Get 50% off select books!</h4>
        </div>
        <section>
        <div class="slider">
        <div class="list">
            <div class="item">
                <a href="#"><img src="images/harry_potter_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="images/hunger_games_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="images/the_amazing_spider_man_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="images/spider_man_miles_morales_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="images/sonic_the_hedgehog_bc.jpg" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="images/avatar_the_last_airbender_bc.jpg" alt=""></a>
            </div>        
    </div>
    
    <div class="buttons">
        <button id="prev"></button>
        <button id="next">></button>
    </div>
    
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="./javascript/home.js"></script>
</body>
</html> 

<%# <header>
            <h1 class="text-center">Welcome to BookNest</h1>
        </header> %>