<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>

        <form class="text-form" name="login-form" id="login-form" method="post">

            <label for="email">Email</label>
            <input type="email" id="login-email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="login-password" name="password" required>

            <button type="submit" class="option-button">Login</button>
        </form>
        <h5>Don't have an account? Register here.</h5>
        <button onclick="window.location.href='/register'" class="option-button">Register</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="./javascript/login.js"></script>

</body>
</html>
