<%# ejs template for viewing a page with an order's detailed info, creating an order will create a new page indexed via order ID  %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%# omit from finished page %>
    <h2>Order <%- num %> Information Here</h2> <%# num is order ID passed from app.js %>
</body>
</html>