<%# ejs template for user profiles, creating an account will create a new user page indexed via user ID %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%# omit from finished page %>
    <h2>User <%- num %> Profile Page</h2> <%# num is user ID passed from app.js %>
</body>
</html>