<%# login page implemented using ejs with fields for name, email, and password, with shipping/payment info optional %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="text-form">
        <h1>Login</h1>

        <form class="text-form" name="register-form" id="regsiter-form" method="post">

            <label for="email">Email</label>
            <input type="email" id="register-email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="register-password" name="password" required>

            <button type="submit" class="option-button">Login</button>
        </form>
        <h5>Already have an account? Log in here.</h5>
        <button onclick="window.location.href='/login'" class="option-button"><h3>Login</h3></button>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="module" src="./javascript/register.js"></script>
</body>
</html>
